@import "../variables";

.button {
	font-weight: $fwRegular;
	border: none;
	background-color: $cRed;
    color: $cWhite;
	text-align: center;
    font-size: 14px;
    display: block;
    padding: 9px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 132px;
    box-sizing: border-box;

    &--submit {
        margin: 50px auto 35px auto;
        &:hover {
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
        }
    }

    &--upload {
        margin-left: auto;
        margin-right: auto;
        background-color: $cLightRed;
        color: $cRed;
        padding: 7px;
        border: 1px solid transparent;
        margin-bottom: 10px;
        &:hover {
            border: 1px solid $cRed;
        }
    }

    &--back {
        background-color: transparent;
        color: rgba(60, 72, 88, 0.8);
        padding: 0px;
        width: 120px;
        font-size: 14px;
        padding: 25px 0px 10px 60px;
        &::before {
            padding-right: 5px;
            content: "\2190";
        }
    }

    &--remove {
        background-color: transparent;
        color: rgba(60, 72, 88, 0.8);
        padding: 0px;
        width: 67px;
        font-size: 12px;
        &::after {
            padding-left: 7px;
            content: "\2573";
        }
    }

    &--add-availability {
        background-color: $cLightRed;
        color: $cRed;
        padding: 7px;
        width: 168px;
        border: 1px solid transparent;
        margin-bottom: 60px;
        &:hover {
            border: 1px solid $cRed;
        }
        &::before {
            padding-right: 10px;
            content: "\002B";
        }
    }

    &--place-ad {
        background-color: $cLightRed;
        color: $cRed;
        padding: 7px;
        width: 132px;
        display: inline;
        border: 1px solid transparent;
        &:hover {
            border: 1px solid $cRed;
        }
    }
}