@import "../variables";

.button {
    font-weight: $fwRegular;
    border: none;
    background-color: $cRed;
    color: $cWhite;
    text-align: center;
    font-size: 14px;
    display: block;
    padding: 9px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 132px;
    box-sizing: border-box;

    &--submit {
        margin: 50px auto 35px auto;

        &:hover {
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
        }
    }

    &--upload {
        margin-left: auto;
        margin-right: auto;
        background-color: $cLightRed;
        color: $cRed;
        padding: 7px;
        border: 1px solid transparent;
        margin-bottom: 10px;

        &:hover {
            border: 1px solid $cRed;
        }
    }

    &--back {
        background-color: transparent;
        color: rgba(60, 72, 88, 0.8);
        padding: 0px;
        width: 120px;
        font-size: 14px;
        padding: 25px 0px 10px 60px;

        &::before {
            padding-right: 5px;
            content: "\2190";
        }
    }

    &--remove {
        background-color: transparent;
        color: rgba(60, 72, 88, 0.8);
        padding: 0px;
        width: 67px;
        font-size: 12px;

        &::after {
            padding-left: 7px;
            content: "\2573";
        }
    }

    &--add-availability {
        background-color: $cLightRed;
        color: $cRed;
        padding: 7px;
        width: 168px;
        border: 1px solid transparent;
        margin-bottom: 60px;

        &:hover {
            border: 1px solid $cRed;
        }

        &::before {
            padding-right: 10px;
            content: "\002B";
        }
    }

    &--place-ad {
        background-color: $cLightRed;
        color: $cRed;
        padding: 7px;
        width: 132px;
        height: 35px;
        display: inline;
        border: 1px solid transparent;

        &:hover {
            border: 1px solid $cRed;
        }
    }

    &--sorting {
        background: url("../img/sorting.svg");
        background-repeat: no-repeat;
        background-position-x: 95%;
        background-position-y: 12px;
        background-color: $cWhite;
        color: $cDarkGrey;
        width: 170px;
        position: absolute;
        top: 0px;
        right: 0px;
        height: 40px;
        text-align: left;
        padding-left: 18px;
        padding-right: 11px;
    }

    &--logged-in {
        background: url("../img/user.svg");
        background-repeat: no-repeat;
        background-position-x: 100%;
        background-position-y: 3px;
        background-color: transparent;
        color: $cDarkGrey;
    }

    &--edit {
        border: 1px solid $cRed;
        color: $cRed;
        padding: 7px;
        width: 140px;
        height: 35px;
        background-color: transparent;
        margin-bottom: 60px;

        &:hover {
            background-color: $cLightRed;
        }

        &::before {
            padding-right: 10px;
            content: url("../img/edit.svg");
        }
    }

    &--add {
        border: 1px solid $cRed;
        color: $cRed;
        padding: 7px;
        background-color: transparent;
        width: 140px;
        height: 35px;
        margin-bottom: 60px;

        &:hover {
            background-color: $cLightRed;
        }

        &::before {
            padding-right: 10px;
            content: "\002B";
        }
    }

    &--phone {
        border: 1px solid $cRed;
        color: $cRed;
        padding: 7px;
        background-color: transparent;
        width: 168px;
        height: 35px;
        margin-bottom: 25px;
        margin-top: 25px;

        &:hover {
            background-color: $cLightRed;
        }

        &::before {
            padding-right: 10px;
            content: url("../img/phone.svg");
        }
    }

    &--email {
        border: 1px solid $cRed;
        color: $cRed;
        padding: 7px;
        background-color: transparent;
        width: 168px;
        height: 35px;

        &:hover {
            background-color: $cLightRed;
        }

        &::before {
            padding-right: 10px;
            content: url("../img/letter.svg");
        }
    }
}