@import "../variables";

.footer {
    background-color: $cDarkGrey;
    color: $cWhite;
    width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
    position: relative;
    bottom: 0px;
}

@media (max-width: 767px) {
    .footer {
        font-size: 12px;
    }
}

@media (min-width: 800px) {
    .footer {
        font-size: $font-size;
    }
}