@import "../variables";

.footer {
    background-color: $cDarkGrey;
    color: $cWhite;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    line-height: 25px;
    padding: 5px;
}