@import "../variables";

.footer {
    background-color: $cDarkGrey;
    color: $cWhite;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
}