@import "../variables";

.header {
    background-color: transparent;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom: 2px solid $cLightGrey;

    .logo {
        color: $cRed;
    }

    .header-height {
        height: 75px;
    }

    .header-middle-left {
        position: absolute;
        bottom: 20px;
        left: 0px;
        top: 50%;
        transform: translateY(-50%);
    }
}

@media (max-width: 767px) {
    .header {
        .header-height {
            height: 55px;
        }
    }
}

@media (min-width: 800px) {
    .header {
        .header-height {
            height: 75px;
        }
    }
}