@import "../variables";

.nav-bar {
    text-align: end;
    li {
        display: inline;
        cursor: pointer;
        margin: 15px;
    }
}

@media (max-width: 500px) {
    .nav-bar {
        li {
            display: block;
        }
    }
}