@import "../variables";

.nav-bar {
    text-align: end;
    li {
        display: inline;
        cursor: pointer;
        margin: 15px;
    }

    &--header {
        li {
            margin: 0px;
            margin-right: 30px;
            &:hover {
                color: $cRed;
            }
        }
        .no-margin {
            margin: 0px;
        }
    }
}

@media (max-width: 500px) {
    .nav-bar {
        li {
            display: block;
        }
    }
}