@import "../variables";

.heading-ads {
    margin-top: 70px;
    margin-bottom: 20px;
    color: $cRed;
}

.filters-bar {
    margin-top: 50px;
    margin-bottom: 70px;
    height: 40px;
    .select-category {
        height: 100%;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 218px;
        border-radius: $borderRadius;
        border: 0px;
        outline: 0px;
        padding: 7px 18px 7px 12px;
        background-color: $cDarkGrey;
        color: $cWhite;
        cursor: pointer;
        background-image: url('../../img/select-arrow-white.svg');
        background-repeat: no-repeat;
        background-position-x: 95%;
        background-position-y: 18px;
    }
    input {
        border: none;
        outline: 0px;
        padding-left: 40px;
        height: 40px;
        position: relative;
        width: 530px;
        box-sizing: border-box;
        background: url("../../img/search-grey.svg");
        background-repeat: no-repeat;
        background-position-x: 10px;
        background-position-y: 12px;
        background-color: $cWhite;
    }

    .search-label-transparent {
        background-color: transparent;
        display: inline-block;
    }

    .search-button {
        padding: 9px 10px 10px 9px;
        background-color: $cRed;
        border: none;
        box-sizing: border-box;
        border-radius: $borderRadius;
        position: absolute;
    }
}