@import "../variables";

.heading-ads {
    margin-top: 70px;
    margin-bottom: 20px;
    color: $cRed;
}

.filters-bar {
    margin-top: 50px;
    margin-bottom: 70px;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    .select-category {
        height: 40px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 218px;
        border-radius: $borderRadius;
        border: 0px;
        outline: 0px;
        padding: 7px 18px 7px 12px;
        background-color: $cDarkGrey;
        color: $cWhite;
        cursor: pointer;
        background-image: url('../img/select-arrow-white.svg');
        background-repeat: no-repeat;
        background-position-x: 95%;
        background-position-y: 18px;
    }
    input {
        border: none;
        outline: 0px;
        display: block;
        padding-left: 50px;
        height: 40px;
        position: relative;
        width: 530px;
        box-sizing: border-box;
        background: url("../img/search-grey.svg");
        background-repeat: no-repeat;
        background-position-x: 20px;
        background-position-y: 12px;
        background-color: $cWhite;
    }
    .search-button {
        height: 40px;
        width: 40px;
        display: block;
        background-color: $cRed;
        border: none;
        cursor: pointer;
        box-sizing: border-box;
        border-radius: $borderRadius;
    }
    .sorting-button {
        border: none;
        background: url("../img/sorting.svg");
        background-repeat: no-repeat;
        background-position-x: 95%;
        background-position-y: 12px;
        background-color: $cWhite;
        color: $cDarkGrey;
        width: 170px;
        position: absolute;
        top: 0px;
        right: 0px;
        height: 40px;
        text-align: left;
        padding-left: 18px;
        padding-right: 11px;
        border-radius: 5px;
    }
    &--mobile {
        display: block;
        margin-bottom: 100px;
        input {
            width: 200px;
            margin-bottom: 20px;
        }
        .sorting-button {
            position: relative;
            margin-left: 5px;
            width: 45%;
        }
        .select-category {
            width: 45%;
        }
    }
}

.recent-business-logo {
    width: 200px;
    height: 113px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $cWhite;
    border-radius: $borderRadius;
    img {
        max-width: 100px;
    }
    &:hover {
        background-color: rgba(240, 65, 65, 0.8);
    }
    &--smaller {
        width: 168px;
    }
}

@media (max-width: 767px) {
    .recent-business-logo {
        width: 100px;
    }
    .filters-bar {
        display: none;
        &--mobile {
            display: block;
        }
    }
}

@media (min-width: 800px) {
    .recent-business-logo {
        width: 200px;
    }
    .filters-bar {
        display: flex;
        &--mobile {
            display: none;
        }
    }
}