@import "../variables";

.sign-up {
    background-color: $cWhite;
    border-radius: $borderRadius;
    text-align: center;
    padding: 55px 85px 20px 85px;
    border: 1px solid $cBlack;
    height: 640px;
    padding: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    form {
        h3 {
            margin-top: 60px;
            margin-bottom: 35px;
        }

        h2 {
            margin-bottom: 60px;
        }

        input {
            width: 100%;
            display: block;
            border: 0px;
            border-bottom: 2px solid $cLightGrey;
            outline: 0px;
            padding: 7px;
            background: transparent;
            margin-bottom: 35px;

            &::placeholder {
                color: $cDarkGrey;
            }

            &:hover {
                border-bottom: 2px solid $cRed;
            }
        }
    }
}

.account-text {
    font-size: 14px;
    opacity: 0.5;
}

.login-link {
    color: $cRed;
    font-size: 14px;
}

.file-upload {
    border: 1px dashed $cBlack;
    text-align: center;
    border-radius: $borderRadius;
    height: 640px;
    background-color: rgba(60, 72, 88, 0.05);
    padding: 170px 70px 170px 70px;

    h3 {
        margin: 16px 0px;
    }
    p {
        font-size: 16px;
        opacity: 0.5;
        margin-bottom: 30px;
    }
    span {
        display: block;
        opacity: 0.5;
        font-size: 12px;
    }
}

@media (max-width: 767px) {
    .sign-up {
        padding: 30px;
    }
}

@media (min-width: 800px) {
    .sign-up {
        padding: 55px 85px 20px 85px;
    }
}