@import "../variables";

.update-business {
    background-color: $cWhite;
    border-radius: $borderRadius;
    text-align: center;
    padding-bottom: 40px;
    margin: auto;

    form {
        padding-left: 120px;
        padding-right: 209px;

        h3 {
            margin-bottom: 60px;
        }

        h2 {
            margin-bottom: 50px;
        }

        input,
        textarea {
            width: 100%;
            display: block;
            border: 0px;
            border-bottom: 2px solid $cLightGrey;
            outline: 0px;
            padding: 7px;
            background: transparent;
            margin-bottom: 35px;

            &::placeholder {
                color: $cDarkGrey;
            }

            &:hover {
                border-bottom: 2px solid $cRed;
            }
        }

        textarea {
            resize: none;
            padding-bottom: 67px;

            &::placeholder {
                color: $cDarkGrey;
                font-family: $font-family-base;
                font-size: 13px;
            }
        }
    }

    .file-upload {
        height: 330px;
        width: 405px;
        padding: 30px 30px 35px 30px;

        p {
            margin-bottom: 10px;
            margin-top: 18px;
        }

        h3 {
            margin-bottom: 0px;
        }
    }

    .current-logo {
        background-color: rgba(60, 72, 88, 0.05);
        text-align: center;
        height: 330px;
        width: 425px;
        border-radius: $borderRadius;
        padding-top: 53px;

        h3 {
            margin-bottom: 30px;
        }

        .logo-placeholder {
            margin: auto;
            width: 151px;
            height: 146px;
            padding-top: 70px;
            background-color: rgba(60, 72, 88, 0.05);
            color: rgba(60, 72, 88, 0.5);
        }
    }

    .availability {
        background-color: $cLighterGrey;
        border-radius: $borderRadius;
        position: relative;
        padding: 30px 30px 20px 30px;
        width: 830px;

        input {
            box-sizing: border-box;
            width: 360px;
        }

        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            width: 360px;
            display: block;
            border: 0px;
            border-bottom: 2px solid $cLightGrey;
            outline: 0px;
            padding: 7px;
            background: transparent;
            margin-bottom: 35px;
            cursor: pointer;
            background-image: url('../../img/select-arrow.svg');
            background-repeat: no-repeat;
            background-position-x: 100%;
            background-position-y: 10px;
            option {
                color: $cLightGrey;
            }
            &::placeholder {
                color: $cLightGrey;
            }
            &:hover {
                border-bottom: 2px solid $cRed;
            }
        }

        .time-format-text {
            position: absolute;
            bottom: 20px;
            right: 30px;
            color: $cRed;
            font-size: 9px;
        }

        .remove-button-pos {
            position: absolute;
            right: 10px;
            top: 5px;
        }
    }
}