$font-family-base: 'Roboto', sans-serif;

// Font sizes
$font-size: 18px;
$line-height: 1.25;
$fwMedium: 500;
$fwRegular: 400;
$fwLight: 300;

// Colors
$cBackground: #E5E5E5;
$cWhite: #fff;
$cRed: #F04141;
$cDarkGrey: #3C4858;
$cLightGrey: #aab1b7;
$cBlack: #000000;
$cLightRed: #fde2e2;
$cLighterGrey: #F5F6F7;

$borderRadius: 3px;